
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff5f5;
    background-image: url(images/imagen_fondo.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.top-bar , .menu2 {
    background-color:#F4C2C2;;
    color: #8B5E3C;
    font-size: 0.9em;
    padding: 10px 20px;
    display: flex;
    border-radius: 20px;
    align-items: right;
    text-decoration: none;
    transition: color 0.3s ease;
}
.top-bar , .menu2:hover{
    color:#D68B8C;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F4C2C2;
}

.logo img {
    height: 80px;
    width: auto;
    object-fit: contain;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 10px 0;
}

.menu li a {
    text-decoration: none;
    color: #8B5E3C;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 0.9em;
}

.menu li a:hover {
    color: #D68B8C;
}

form {
    max-width: 500px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

form h2 {
    text-align: center;
    color: #8B5E3C;
    margin-bottom: 25px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #5D3A3A;
    font-weight: bold;
}

.input-group input,
.input-group textarea {
    padding: 10px;
    border: 1px solid #f4c2c2;
    border-radius: 10px;
    font-size: 1em;
    background-color: #fffafc;
    color: #5D3A3A;
    transition: border-color 0.3s ease;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #D68B8C;
    outline: none;
}

.btn {
    margin-top: 25px;
    padding: 12px;
    background-color: #F4C2C2;
    color: #8B5E3C;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #D68B8C;
    transform: scale(1.05);
}
footer {
    background-color: #D68B8C;
    margin-top: 20px;
    display: flex;
    padding: 20px;
}
.grupo-footer h3{
    color: #5D3A3A;
    font-weight: bold;
}
.grupo-footer{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    padding: 50px;
}
.grupo-footer h3,
.grupo-footer ul {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.grupo-footer li {
    margin-bottom: 8px;
}
footer img {
    width: 300px;
    height: auto;
    margin-left: auto;
}
li{
    list-style: none;
    color: white;
}
li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;      
}
li a:hover{
    color: #8B5E3C;
    transform: scale(1.5);
}